h1{
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 15vh;
}



.box{
  background-color: aqua;
  text-align: center;
  width: 33.333%;

}

.box1{
  background-color: blue;

}